header section {
    display: flex;
    justify-content: space-between;
}

header {
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

h1 {
    font-size: 2em;
    color: blue;
}

.logo1 {
    width: 75px;
    height: 90px;
}

.logo2 {
    width: 40px;
    height: 60px;
}

ul {
    padding-left: 2.5em;
}

ul p {
    margin: auto;
}

nav ul a:visited {
    color: purple;
}

nav ul a {
    color: green;
}

aside nav li {
    list-style: none;
}

.wikipedia {
    background-color: orange;
    font-size: 2em;
}

.equipo:nth-child(odd) {
    background-color: gray;
    color: beige;
}

.equipo li:nth-child(1) {
    font-size: 1.5em;
}

.equipo li:nth-last-child(1) {
    font-style: italic;
}

.equipo:nth-child(even) {
    background-color: yellow;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.1fr 4fr 2fr 2fr;
    column-gap: 1em;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
}

.grid-container-2,
.grid-container-1 {
    grid-template-rows: 25em 25em 25em 25em;
    row-gap: 1em;
}

.grid-container-1:nth-child(3) article {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.grid-container-2:nth-child(2) article {
    background-color: purple;
    color: white;
    border: 1px groove purple;
}

.grid-container-1:nth-child(4) article {
    background-color: yellow;
    color: black;
    border: 1px groove yellow;
}

.grid-container-2:nth-child(2) article,
.grid-container-1:nth-child(4) article {
    border-radius: 20px;
    padding: 1em;
}

article img {
    width: 75px;
    height: 100px;
}

article div:nth-child(2) p::first-letter {
    font-size: 4em;
}

article div:nth-child(3) p::first-line {
    color: aqua;
}