.principal {
    background-image: url("../image/pistaAltetismo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}

p {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 70em;
    height: 39em;
}

.normas {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.horario,
.normas {
    margin-top: 2em;
}

.horario p {
    text-align: left;
}

.item1,
.item2,
.item3,
.item4 {
    justify-self: center;
}

.item1,
.item2 {
    margin-top: 15em;
    align-self: flex-end;
}

.item4,
.item3 {
    margin-top: 10em;
    align-self: center;
}